<footer class="page-footer font-small mt-5" style="background-color: black;">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1" style="color: white;">Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a href="#!" class="btn btn-outline-white btn-rounded" style="color: black; background-color: white;">Sign up!</a>
        </li>
      </ul>
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: wheat;">© 2020 Copyright:
      <a href="https://dottechbw.com/" style="color: white;"> DotTechBW.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>